In [10]:
# Import libraries
import pandas as pd

In [11]:
# Load the dataset
csv_path = '/home/codespace/.cache/kagglehub/datasets/architsharma01/loan-approval-prediction-dataset/versions/1/loan_approval_dataset.csv'
df = pd.read_csv(csv_path)

In [12]:
# Strip whitespace from column names and string columns
df.columns = df.columns.str.strip()
df['education'] = df['education'].str.strip()
df['self_employed'] = df['self_employed'].str.strip()
df['loan_status'] = df['loan_status'].str.strip()

In [13]:
# Map string labels to binary values
df['education'] = df['education'].map({'Graduate': 1, 'Not Graduate': 0})
df['self_employed'] = df['self_employed'].map({'Yes': 1, 'No': 0})
df['loan_status'] = df['loan_status'].map({'Approved': 1, 'Rejected': 0})

In [14]:
# Save encoded dataset to a new CSV file
encoded_csv_path = "loan_approval_encoded.csv"
df.to_csv(encoded_csv_path, index=False)

In [15]:
# Display encoded columns
df[['education', 'self_employed', 'loan_status']].head()

   education  self_employed  loan_status
0          1              0            1
1          0              1            0
2          1              0            0
3          1              0            0
4          0              1            0

In [17]:
# Import the MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

# Load the encoded dataset
df = pd.read_csv("loan_approval_encoded.csv")

# Identify numeric columns (excluding the target)
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
numeric_cols = numeric_cols.drop('loan_status', errors='ignore')  # Target column
numeric_cols = numeric_cols.drop(['loan_id'], errors='ignore')

# Apply MinMaxScaler to numeric features
scaler = MinMaxScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

# Save the scaled dataset
scaled_csv_path = "loan_approval_scaled.csv"
df.to_csv(scaled_csv_path, index=False)

# Display scaled features
df[numeric_cols].head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
0,0.4,1.0,0.0,0.969072,0.755102,0.555556,0.796667,0.085616,0.907216,0.575835,0.544218
1,0.0,0.0,1.0,0.402062,0.303571,0.333333,0.195000,0.095890,0.113402,0.218509,0.224490
2,0.6,1.0,0.0,0.917526,0.750000,1.000000,0.343333,0.246575,0.231959,0.848329,0.870748
3,0.6,1.0,0.0,0.824742,0.775510,0.333333,0.278333,0.626712,0.170103,0.591260,0.537415
4,1.0,0.0,1.0,0.989691,0.609694,1.000000,0.136667,0.428082,0.422680,0.748072,0.340136